{% extends 'shared/base.html' %}
{% block content %}

    <header class= "hero-image">
        <div class="hero-text">
            <h1>THE HEROES OF MARVEL</h1>
            <h4>ALL IN YOUR OWN API</h4>
        </div>
    </header>
<div class="container">
    <div class="row below-banner-text">
        <div class="col-12 col-md-6">
            <p>You love the Heroes from the Marvel Universe. They fight every day to protect you from Ultron, Thanos, Green Goblin, and more! Now you can show your appreciation to them by storing them in our secure API! AVENGERS ASSEMBLE!!!!</p>
        </div>
        <div class="col-12 col-md-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit delectus dolorum nisi laboriosam qui porro modi est animi sed obcaecati. Numquam placeat beatae dolorem eius a ab fugiat similique animi.</p>
        </div>
    </div>
</div>
{% endblock content %}