{% extends "shared/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div>
            <h3 class="avenger-heading">AVENGERS ASSEMBLE</h3>
            <p>Join the Avengers and Sign Up For Your Account!</p>
            {% include "shared/forms.html" %}
            </div>
            <div class= "google-button">
                <p>Or</p>
                <p>Sign up with Google!</p>
                <a href="{{ url_for('google_auth') }}">
                    <button class="btn btn-danger">Sign in with Google</button>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img src="../static/images/hulk.png" alt="Incredible Hulk" class= "sign-image">
        </div>
    </div>
</div>

{% endblock content %}