{% extends 'shared/base.html' %}
{% block content %}

<header class= "hero-image">
    <div class="hero-text">
        <h1>The Heroes of Marvel</h1>
        <h4>all in your own API</h4>
    </div>
</header>

<div class="row">
    <div class="col-12 col-md-6">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat ab dolorem aspernatur inventore explicabo eius. Id cum expedita explicabo sit quia voluptates necessitatibus, veniam neque distinctio voluptatibus. Dolor, fuga maxime.</p>
    </div>
    <div class="col-12 col-md-6">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit delectus dolorum nisi laboriosam qui porro modi est animi sed obcaecati. Numquam placeat beatae dolorem eius a ab fugiat similique animi.</p>
    </div>
</div>

{% endblock content %}